version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: chat-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    env_file:
      - ./chat-backend/.env

  backend:
    build: ./chat-backend
    container_name: chat-backend
    restart: always
    env_file: ./chat-backend/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongo



  frontend:
    build: ./chat-frontend
    container_name: chat-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo-data:
